@font-face {
    font-family: "blackGothic";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/blackGothic/blackGothic.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/blackGothic/blackGothic.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/blackGothic/blackGothic.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/blackGothic/blackGothic.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/blackGothic/blackGothic.ttf") format("truetype");
    font-display: swap;
} 
.blackGothic {
    font-family: "blackGothic";
}